lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.1
*.bak
*-old
*.swp

pids
logs
results
node_modules

npm-debug.log

RUNLOCAL
version.rkt

compiled/
completed-builds/
htdocs/
build-mac/
build-win/
*~
